In [69]:
# Import basic libraries
import pandas as pd
import numpy as np

In [70]:
# Import data. It is a large dataset, so it is split into two csv files
data1 = pd.read_csv('your_data_feb_22_2022_0525pm-part1.csv')
data2 = pd.read_csv("your_data_feb_22_2022_0525pm-part2.csv")

In [71]:
# Combine the two datasets
data = pd.concat([data1, data2], axis=0)

In [72]:
print(data.size)
print(data1.size + data2.size)

145321400
145321400

In [73]:
# Drop redundant columns
data.drop('sg_g__brands', inplace=True, axis=1)
data.drop('sg_g__latitude', inplace=True, axis=1)
data.drop('sg_g__longitude', inplace=True, axis=1)
data.drop('sg_g__street_address', inplace=True, axis=1)
data.drop('sg_g__city', inplace=True, axis=1)
data.drop('sg_g__region', inplace=True, axis=1)
data.drop('sg_g__postal_code', inplace=True, axis=1)
data.drop('sg_g__iso_country_code', inplace=True, axis=1)

In [74]:
data.shape

(2076020, 62)

In [75]:
# Drop the rest of the Polygon Data (This data is not useful because it is redundant with the Places dataset)
data2 = data.drop(["sg_g__location_name","sg_g__polygon_wkt","sg_g__polygon_class","sg_g__includes_parking_lot","sg_g__is_synthetic","sg_g__enclosed","sg_g__wkt_area_sq_meters"], axis=1)

In [76]:
# This shows how many null values are in each column 
data2.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2076020 entries, 0 to 1010739
Data columns (total 55 columns):
 #   Column                                             Non-Null Count    Dtype
---  ------                                             --------------    -----
 0   date_range_start                                   2072601 non-null  object
 1   date_range_end                                     2072601 non-null  object
 2   placekey                                           2076020 non-null  object
 3   sg_c__parent_placekey                              245362 non-null   object
 4   sg_c__location_name                                2067300 non-null  object
 5   sg_c__safegraph_brand_ids                          499830 non-null   object
 6   sg_c__brands                                       499830 non-null   object
 7   sg_c__top_category                                 2061831 non-null  object
 8   sg_c__sub_category                                 2044394 non-null  object
 9   sg_c__naics_code                                   2061831 non-null  float64
 10  sg_c__latitude                                     2067300 non-null  float64
 11  sg_c__longitude                                    2067300 non-null  float64
 12  sg_c__street_address                               2067300 non-null  object
 13  sg_c__city                                         2067300 non-null  object
 14  sg_c__region                                       2067300 non-null  object
 15  sg_c__postal_code                                  2067300 non-null  float64
 16  sg_c__iso_country_code                             2067300 non-null  object
 17  sg_c__phone_number                                 1471252 non-null  float64
 18  sg_c__open_hours                                   1045445 non-null  object
 19  sg_c__category_tags                                357319 non-null   object
 20  sg_c__opened_on                                    14454 non-null    object
 21  sg_c__closed_on                                    0 non-null        float64
 22  sg_c__tracking_closed_since                        2049154 non-null  object
 23  sg_c__geometry_type                                2067300 non-null  object
 24  sg_wp__parent_placekey                             246412 non-null   object
 25  sg_wp__location_name                               2072601 non-null  object
 26  sg_wp__street_address                              2072601 non-null  object
 27  sg_wp__city                                        2072601 non-null  object
 28  sg_wp__region                                      2072601 non-null  object
 29  sg_wp__postal_code                                 2072601 non-null  float64
 30  sg_wp__iso_country_code                            2072601 non-null  object
 31  sg_wp__safegraph_brand_ids                         497953 non-null   object
 32  sg_wp__brands                                      497953 non-null   object
 33  sg_wp__date_range_start                            2072601 non-null  object
 34  sg_wp__date_range_end                              2072601 non-null  object
 35  sg_wp__raw_visit_counts                            2072601 non-null  float64
 36  sg_wp__raw_visitor_counts                          2072601 non-null  float64
 37  sg_wp__visits_by_day                               2072601 non-null  object
 38  sg_wp__visits_by_each_hour                         2072601 non-null  object
 39  sg_wp__poi_cbg                                     2072601 non-null  float64
 40  sg_wp__visitor_home_cbgs                           2072601 non-null  object
 41  sg_wp__visitor_home_aggregation                    2072601 non-null  object
 42  sg_wp__visitor_daytime_cbgs                        2072601 non-null  object
 43  sg_wp__visitor_country_of_origin                   2048163 non-null  object
 44  sg_wp__distance_from_home                          1507470 non-null  float64
 45  sg_wp__median_dwell                                2072601 non-null  float64
 46  sg_wp__bucketed_dwell_times                        2072601 non-null  object
 47  sg_wp__related_same_day_brand                      2072601 non-null  object
 48  sg_wp__related_same_week_brand                     2072601 non-null  object
 49  sg_wp__device_type                                 2072601 non-null  object
 50  sg_wp__normalized_visits_by_state_scaling          2072601 non-null  float64
 51  sg_wp__normalized_visits_by_total_visits           2072601 non-null  float64
 52  sg_wp__normalized_visits_by_total_visitors         2072601 non-null  float64
 53  sg_wp__normalized_visits_by_region_naics_visits    2072601 non-null  float64
 54  sg_wp__normalized_visits_by_region_naics_visitors  2072601 non-null  float64
dtypes: float64(17), object(38)
memory usage: 887.0+ MB

In [138]:
df3 =  data2[data.date_range_start.notna()]
df3 = df3[df3.sg_c__longitude.notna()]
df3 = df3[df3.sg_c__latitude.notna()]

In [139]:
# This subsets out Weekly Patterns dataset because the Places dataset contains discrepancies with location name and street address
df4 = df3.drop(df3.iloc[:, :9].copy(), axis = 1).copy()
df4 = df4.drop(df4.iloc[:, 3:15].copy(), axis = 1).copy()

In [140]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2063881 entries, 0 to 1010739
Data columns (total 34 columns):
 #   Column                                             Dtype
---  ------                                             -----
 0   sg_c__naics_code                                   float64
 1   sg_c__latitude                                     float64
 2   sg_c__longitude                                    float64
 3   sg_wp__parent_placekey                             object
 4   sg_wp__location_name                               object
 5   sg_wp__street_address                              object
 6   sg_wp__city                                        object
 7   sg_wp__region                                      object
 8   sg_wp__postal_code                                 float64
 9   sg_wp__iso_country_code                            object
 10  sg_wp__safegraph_brand_ids                         object
 11  sg_wp__brands                                      object
 12  sg_wp__date_range_start                            object
 13  sg_wp__date_range_end                              object
 14  sg_wp__raw_visit_counts                            float64
 15  sg_wp__raw_visitor_counts                          float64
 16  sg_wp__visits_by_day                               object
 17  sg_wp__visits_by_each_hour                         object
 18  sg_wp__poi_cbg                                     float64
 19  sg_wp__visitor_home_cbgs                           object
 20  sg_wp__visitor_home_aggregation                    object
 21  sg_wp__visitor_daytime_cbgs                        object
 22  sg_wp__visitor_country_of_origin                   object
 23  sg_wp__distance_from_home                          float64
 24  sg_wp__median_dwell                                float64
 25  sg_wp__bucketed_dwell_times                        object
 26  sg_wp__related_same_day_brand                      object
 27  sg_wp__related_same_week_brand                     object
 28  sg_wp__device_type                                 object
 29  sg_wp__normalized_visits_by_state_scaling          float64
 30  sg_wp__normalized_visits_by_total_visits           float64
 31  sg_wp__normalized_visits_by_total_visitors         float64
 32  sg_wp__normalized_visits_by_region_naics_visits    float64
 33  sg_wp__normalized_visits_by_region_naics_visitors  float64
dtypes: float64(14), object(20)
memory usage: 551.1+ MB

In [141]:
# Clean up the column names
df4.columns = df4.columns.str.replace('sg_wp__',"")

In [142]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2063881 entries, 0 to 1010739
Data columns (total 34 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   sg_c__naics_code                            float64
 1   sg_c__latitude                              float64
 2   sg_c__longitude                             float64
 3   parent_placekey                             object
 4   location_name                               object
 5   street_address                              object
 6   city                                        object
 7   region                                      object
 8   postal_code                                 float64
 9   iso_country_code                            object
 10  safegraph_brand_ids                         object
 11  brands                                      object
 12  date_range_start                            object
 13  date_range_end                              object
 14  raw_visit_counts                            float64
 15  raw_visitor_counts                          float64
 16  visits_by_day                               object
 17  visits_by_each_hour                         object
 18  poi_cbg                                     float64
 19  visitor_home_cbgs                           object
 20  visitor_home_aggregation                    object
 21  visitor_daytime_cbgs                        object
 22  visitor_country_of_origin                   object
 23  distance_from_home                          float64
 24  median_dwell                                float64
 25  bucketed_dwell_times                        object
 26  related_same_day_brand                      object
 27  related_same_week_brand                     object
 28  device_type                                 object
 29  normalized_visits_by_state_scaling          float64
 30  normalized_visits_by_total_visits           float64
 31  normalized_visits_by_total_visitors         float64
 32  normalized_visits_by_region_naics_visits    float64
 33  normalized_visits_by_region_naics_visitors  float64
dtypes: float64(14), object(20)
memory usage: 551.1+ MB

In [143]:
# Convert string to datetime so it can be plotted
df4.date_range_start = pd.to_datetime(df4.date_range_start)
df4.date_range_end = pd.to_datetime(df4.date_range_end)

In [144]:
# Data Exploration - I'm trying to see if this is actually null values
df4.visitor_country_of_origin.describe()

count      2039538
unique        8269
top       {"US":4}
freq        319439
Name: visitor_country_of_origin, dtype: object

In [145]:
# A large amount of the values in this column are {}, so there is missing information. 
df4.visitor_home_cbgs.describe()

count     2063881
unique    1204278
top            {}
freq       433596
Name: visitor_home_cbgs, dtype: object

In [146]:
# The same thing happens in this column, so these two columns are mostly null.
df4.visitor_home_aggregation.describe()

count     2063881
unique    1142690
top            {}
freq       424454
Name: visitor_home_aggregation, dtype: object

In [147]:
df5 = df4.drop(['visitor_home_cbgs', 'visitor_home_aggregation'], axis = 1).copy()

In [148]:
df5.shape

(2063881, 32)

In [149]:
# Drop any values without an NAICS code (business code)
df6 = df5[df5['sg_c__naics_code'].notna()]
df6.shape

(2058429, 32)

In [150]:
# Zipcodes for downtown Charleston
zipcodes = [29401, 29402, 29403, 29405, 29409, 29413, 29424, 29425]

In [151]:
# This subsets the data into just data from downtown Charleston
zip = df6['postal_code'].isin(zipcodes)
df7 = df6[zip]

In [152]:
df7.shape

(335769, 32)

In [153]:
# Subset out MUSC and Roper Hospitals because they are not tourist locations

musc = df7['location_name'] != 'Musc Medical Center'
roper = df7['location_name'] != 'Roper Hospital'
df8 = df7[musc & roper]

In [154]:
# Subset out any values above the interstate (outside of the peninsula)
df9 = df8[df8['sg_c__latitude'] < 32.803]

In [162]:
# We had issues with uploading data with date connected to it into WEKA, so we dropped it from the WEKA upload and removed duplicate data from our set
df9[['raw_visit_counts', 'sg_c__latitude', 'sg_c__longitude']].drop_duplicates().to_csv('weka_upload.csv')